div {  
    background-image: url https://cdn.imweb.me/upload/S201904265cc294845b98d/b3a0a827fcae6.jpg; 
    height: 374px; 
    width: 249px; 
    margin: 0; 
    padding: 0;
    border: 0;
    vertical-align: 0; 
} 
<html> 
<head> 
<body> 
div {
    background-color: violet;
    width: 40px; 
    height: 40px; 
    margin: 10px;
    position: sticky; 
    left: 20px; 
} 
 
.Header_READ MORE span:hover::before {
    background:grey 
} 
  @font-face {
      font-family:arial ;
      src: url();   
  } 
  <p style="color:black;">Wedding Ideas</p> 
  <p style="color:black;">Planning a wedding is hard work. We have tons of planning tips and advice, and inspo for your wedding cake, flowers, invitations, décor, and more!</p>
  <p style="color:white;">READ MORE</p> 
  <span style="padding: 2px; border: solid 1px white">text</span> 






    




